header{
    color: #fff;
}

.menu{
    display: flex;
    justify-content: space-between;
    padding: 1%;
    background-color: var(--cor-primaria);
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.75);

}

.menu img{
    transition: 0.3s;
}

.menu img:hover{
    transform: scale(1.05);
}

.menu nav ul{
    overflow: hidden;
    display: flex;
    gap: 65px;
}

.menu nav ul li{
    list-style: none;
    border-radius: 25px;
    padding: 5px;
    transition: 0.3s;
}

.menu a{
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    
}

.menu nav ul li:hover{
    transform: scale(1.05);
    text-shadow: 0px 0px 12px #e2d9d989;
    border: 1px solid #e2d9d911;
}

/* Responsivo Mobile */

.overlayMenu{
    background-color: #000000a0;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8888;
    display: none;
}

.btnAbrirMenu i{
    font-size: 26px;
    position: absolute;
    color: var(--cor-secundaria);
    top: 5px;
    right: 5%;
}

.menuMobile{
    background-color: #000;
    height: 100vh;
    border-radius: 50px 0 0 50px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
}

.menuMobile.openMenu{
    width: 60%;
    border-left: 2px solid var(--cor-secundaria);
}

.menuMobile.openMenu ~ .overlayMenu{
    display: block;
}

.menuMobile nav ul{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.menuMobile nav ul li a{
    text-decoration: none;
    display: block;
    color: #fff;
    font-size: 26px;
    font-weight: 300;
    padding: 35px 4%;
    border-radius: 35px;
    transition: 0.7s ease-in-out;
}

.menuMobile nav ul li a:hover{
    background-color: var(--cor-secundaria);
    font-weight: bold;
}

.menuMobile .btnFechar{
    padding: 35px 4%
}

.menuMobile .btnFechar i{
    color: var(--cor-secundaria);
    font-size: 28px;
}

.overlay{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 45px;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    background-color: #00000079;
    color: #fff;
    opacity: 0;
    transition: 0.4s;
}

.overlay a{
    font-size: 16px;
    margin-top: 15px;
    text-decoration: none;
    color: #fff;
    font-style: oblique;
    transition: .3s;
}

.overlay a:hover{
    border-bottom: 1px solid #fff;
}

.overlay:hover{
    opacity: 1;
}