:root{
    --cor-primaria: #223A54;
    --cor-secundaria: #d5a468;
    --cor-secundaria-efeito: #ebbb8013;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

body{
    font-family: "Montserrat", sans-serif;
}

.sobre{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sobre h2{
    color: var(--cor-secundaria);
    font-size: 40px;
}

.sobre p{
    font-size: 20px;
    text-align: center;
    width: 80%;
}










/* Responsivo */

@media screen and (min-width: 1021px) {
    .btnAbrirMenu{
        display: none;
    }
}

@media screen and (max-width: 1020px){
    .menu nav{
        display: none;
    }
}

@media screen and (max-width: 400px){
    .btnAbrirMenu i{
        top: 3px;
    }
}


